<app-header></app-header>

<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0" *ngIf="ifForm">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Book Room {{room.number}}</small>
              <br>
              <small style="color:red">{{err}}</small>
            </div>
            <form [formGroup]="bookingForm" >
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Check In Date" type="date" formControlName="check_in_date">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Check Out Date" type="date" formControlName="check_out_date">
                </div>
              </div>
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Client Name" type="text" formControlName="client_name">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Client Huduma Number" type="number" formControlName="client_huduma_number">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Client Gender" type="text" formControlName="client_gender">
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id="disabled" type="checkbox" formControlName="client_disability">
                <label class="custom-control-label" for="disabled">
                  <span class="text-muted">Disabled</span>
                </label>
              </div>
              <div class="text-center">
                <button (click)="addBooking()" type="button" class="btn btn-primary my-4">Book</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>